* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: repeating-radial-gradient(peachpuff, lightcoral);
	background-size: auto 100vw;
	font-family: 'Lucida Sans';
}
header {
	height: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0px;
}
.menu ul {
	display: flex;
	justify-content: space-around;
	font-family: monospace;
	font-size: 18px;
}
.menu li {
	list-style: none;
}
.menu a{
	
}
a {
	color: tomato;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.site-subtitle, .site-title {
	text-align: center;
	color: floralwhite;
	text-shadow: 1px 3px 0px salmon;
}
.site-subtitle {
	font-style: italic;
}
.Desafio {
	filter: contrast(10);
} 
